<navbar></navbar>

<div class="container">
  <h3>管理用户</h3>
  <div class="row">
  	<div class="pull-left">
        <a class="btn btn-default btn-md col-md-offset-2" role="button" ui-sref="signup"> 添加用户</a>
  	</div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
</div>
