<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>登录</h1>
      
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <label>电子邮箱E-mail</label>

          <input type="email" name="email" class="form-control" ng-model="user.email" required>
        </div>

        <div class="form-group">
          <label>口令</label>

          <input type="password" name="password" class="form-control" ng-model="user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             请输入用户名和口令.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             请输入有效的电子邮箱地址.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            登录
          </button>
          <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
            注册
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
